{% extends "base.html" %}

{% block title %}
Analyze - dimension
{% endblock %}

{% block content %}

    <h1 style="font-size: 35px;" class="subtitle">Choose a dimension and values for minimum and maximum confidence.</h1>
    
    <form action="" method = "POST">
        <input class="form-control form-control-lg" type="text" placeholder="Minimum confidence" aria-label=".form-control-lg example" name = "min">
        <input class="form-control form-control-lg" type="text" placeholder="Maximum confidence" aria-label=".form-control-lg example" name = "max">
        <button style="margin:10px;" type="submit" class="btn btn-outline-primary">Save range.</button>
        <p style="margin-left: 10px;" class="set_range">
            {{message}}
        </p>
    </form>

    <center>
    <form action="integrity" method="post" >
        <button style="margin:10px;" type="submit" class="btn btn-outline-primary" name="choice" value="Integrity">Integrity</button>
    </form>

    <form action="completeness" method="post">
        <button style="margin:10px;" type="submit" class="btn btn-outline-primary">Completeness</button>
    </form>

    <form action="consistency" method="post">
        <button  style="margin:10px;" type="submit" class="btn btn-outline-primary">Consistency</button>
    </form>

    <form action="uniqueness" method="post">
        <button style="margin:10px;" type="submit" class="btn btn-outline-primary">Uniqueness</button>
    </form>

    <form action="relevancy1" method="post">
        <button style="margin:10px;" type="submit" class="btn btn-outline-primary">Relevancy</button>
    </form>

    <form action="conformity" method="post">
        <button style="margin:10px;" type="submit" class="btn btn-outline-primary">Conformity</button>
    </form>
        
    </center>

    <form action="download">
        <button style="margin-bottom: 30px; margin-left: 10px;" type="submit" name="change" value="change" class="btn btn-outline-primary">Download file.</button>
    </form>



{% endblock %}

